In [1]:
import pandas as pd
df_from_excel = pd.read_excel('/content/sunrayups.xlsx')

In [ ]:
df_from_excel

,ITEM,DESCRIPTION,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,PRICE
0,MPS-VIII,MPS-VIII 3600W,3.6KW,MPPT,230V,24V,US$216.00
1,NaN,MPS-VIII 4200W,4.2KW,MPPT,230V,24V,US$221.00
2,NaN,MPS-VIII 6200W,6.2KW,MPPT,230V,48V,US$265.00
3,MPS-VIII PRO,MPS-VIII 3600W PRO,3.6KW,MPPT,230V,24V,US$223.00
4,NaN,MPS-VIII 4200W PRO,4.2KW,MPPT,230V,24V,US$227.00
5,NaN,MPS-VIII 6200W PRO,6.2KW,MPPT,230V,48V,US$272.00
6,MPS-VIII ECO,MPS-VIII ECO 3.6KW,3.6KW,MPPT,230V,24,US$165.00
7,NaN,MPS-VIII ECO 6.2KW,6.2KW,MPPT,230V,48V,US$192.00
8,MPS-V MAX,MPS-V MAX 7.2KW,7.2KW,MPPT,230V,48V,US$321.00
9,NaN,MPS-V MAX 8.2KW,8.2KW,MPPT,230V,48V,US$364.00
10,NaN,MPS-V MAX 10.2KW,10.2KW,MPPT,230V,48V,US$391.00

In [ ]:
df_from_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ITEM         4 non-null      object
 1   DESCRIPTION  11 non-null     object
 2   Unnamed: 2   11 non-null     object
 3   Unnamed: 3   11 non-null     object
 4   Unnamed: 4   11 non-null     object
 5   Unnamed: 5   11 non-null     object
 6   PRICE        11 non-null     object
dtypes: object(7)
memory usage: 744.0+ bytes

In [ ]:
df_from_excel.columns

Index(['ITEM', 'DESCRIPTION', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'PRICE'],
      dtype='object')

In [ ]:
df_from_excel.isna().sum()

ITEM           7
DESCRIPTION    0
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4     0
Unnamed: 5     0
PRICE          0
dtype: int64

In [ ]:
df_from_excel['DESCRIPTION'] = df_from_excel['DESCRIPTION']+" "+ df_from_excel['Unnamed: 2']+ " "+ df_from_excel['Unnamed: 3']+ " " + df_from_excel['Unnamed: 4']+ " "+ df_from_excel['Unnamed: 5']

In [ ]:
df_from_excel.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'], inplace = True)

In [ ]:
df_from_excel

            ITEM                             DESCRIPTION      PRICE
0       MPS-VIII      MPS-VIII 3600W 3.6KW MPPT 230V 24V  US$216.00
1            NaN      MPS-VIII 4200W 4.2KW MPPT 230V 24V  US$221.00
2            NaN      MPS-VIII 6200W 6.2KW MPPT 230V 48V  US$265.00
3   MPS-VIII PRO  MPS-VIII 3600W PRO 3.6KW MPPT 230V 24V  US$223.00
4            NaN  MPS-VIII 4200W PRO 4.2KW MPPT 230V 24V  US$227.00
5            NaN  MPS-VIII 6200W PRO 6.2KW MPPT 230V 48V  US$272.00
6   MPS-VIII ECO  MPS-VIII ECO 3.6KW 3.6KW MPPT 230V 24   US$165.00
7            NaN  MPS-VIII ECO 6.2KW 6.2KW MPPT 230V 48V  US$192.00
8      MPS-V MAX     MPS-V MAX 7.2KW 7.2KW MPPT 230V 48V  US$321.00
9            NaN     MPS-V MAX 8.2KW 8.2KW MPPT 230V 48V  US$364.00
10           NaN   MPS-V MAX 10.2KW 10.2KW MPPT 230V 48V  US$391.00

In [ ]:
# Replace NaN values with the previous non-NaN value in the same column
df_from_excel['ITEM'] = df_from_excel['ITEM'].fillna(method='ffill')

In [ ]:
# Remove commas and convert to float
for index, row in df_from_excel.iterrows():
    if 'US$' in row['PRICE']:
      df_from_excel.at[index, 'PRICE'] = row['PRICE'].replace('US$', '')
    else:
      continue

In [ ]:
df_from_excel['Price'] = df_from_excel['Price'].astype(float)

In [3]:
df_from_excel['Availability'] = 'Subject to Change'

In [4]:
df_from_excel.isna().sum()

Unnamed: 0      0
Item            0
Description     0
Price           0
Availability    0
dtype: int64

In [5]:
df_from_excel.drop(columns = ['Unnamed: 0'], inplace = True)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
#saving the table as csv
df_from_excel.to_excel("/content/drive/MyDrive/projects/greentech/sunrayups.xlsx")