In [1]:
import pandas as pd
df_from_excel = pd.read_excel('/content/Pytes.xlsx')

In [2]:
df_from_excel

,Unnamed: 0,Item,Description,Price
0,0,E-BOX-48100R,LFP battery packVoltage: 51.2VCapacity: 100AhE...,2000
1,1,Forrest RB,Indoor cabinet designed to hold,818
2,2,R Box IP 64,"2pcs E-box-481ooR, can mount on wall, also can...",499
3,3,R Box,"2pcs E-box-48100R, can mount on wall, also can...",299
4,4,Communication Hub,pc can support 56 pcs total 280KWHbatteries co...,450
5,5,Power Cable Set,2m long cable set from battery to charger/load...,50
6,6,Communication cable,communicaiton cable between bettery and charg...,5
7,7,Bus Bar,"300A, 2pcs/pair",100
8,8,Battery Bracket,"brackets set for E-Box-48100R, one pair includ...",50
9,9,Sol Ark Inverter,"3P10-Year Standard Warranty, NEMA-3R",6050
10,10,Sol Ark Inverter,(SA-Limitless-15K) - Sol-Ark 15K\n120/240/208V...,7200

In [ ]:
df_from_excel.columns

Index(['Model', 'Details', 'Unit Price'], dtype='object')

In [3]:
df_from_excel.isna().sum()

Unnamed: 0     0
Item           0
Description    0
Price          0
dtype: int64

In [ ]:
# Create a dictionary to map old column names to new column names
column_mapping = {'Model': 'Item', 'Details': 'Description', 'Unit Price':'Price'}

# Rename columns using the dictionary
df_from_excel = df_from_excel.rename(columns=column_mapping)

In [ ]:
df_from_excel.columns

Index(['Item', 'Description', 'Price'], dtype='object')

In [ ]:
# Remove commas and convert to float
for index, row in df_from_excel.iterrows():
    if ',' in row['Price']:
      df_from_excel.at[index, 'Price'] = row['Price'].replace(',', '')
    if 'US$' in row['Price']:
      df_from_excel.at[index, 'Price'] = row['Price'].replace('US$', '')
    else:
      continue

In [ ]:
#df_from_excel['Price'] = df_from_excel['Price'].astype(float)
df_from_excel['Price'] = df_from_excel['Price'].astype(str)

In [4]:
df_from_excel['Availability'] = 'No information about availability. Please verify'

In [6]:
df_from_excel.drop(columns= ['Unnamed: 0'],inplace = True)

In [10]:
df_from_excel.isna().sum()

Item            0
Description     0
Price           0
Availability    0
dtype: int64

In [9]:
#saving the table as csv
df_from_excel.to_excel("/content/drive/MyDrive/projects/greentech/Pytes.xlsx")

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive